html,
body {
  padding: 0;
  margin: 0;
  background-color: #F1F1F1;
}

body {
  font: 12px 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {font-size: 4em}
h2 {font-size: 2.5em}
h3 {font-size: 1.3em}
h4 {font-size: 1.2em}
h5 {font-size: 1.1em}
h6 {font-size: 1rem}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}

p {
  margin-bottom: '15px';
  font-family: 'Open Sans', sans-serif;
  color: '#232325';
  font-size: '13px';
}

.btn {
    border: none;
}

.btn-primary {
    background-color: #2E3F4F;
}

.btn-primary:hover {
    background-color: #0c2944;
}
